@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
}

<h2>Demo of Date Picker</h2>

<p>Date: <input type="text" id="datepicker"></p>
