@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index of jquery plugins</h2>
<ul>
    <li>@Html.ActionLink("Date Picker", "Index", "DatePicker")</li>
    <li>@Html.ActionLink("Accordion", "Index", "Accordion")</li>
    <li>@Html.ActionLink("Sortable List (With AJAX)", "Index", "SortableList")</li>
</ul>

